<tr>
    <td class="image" data-title="No"><img src="~/Asset/images/100x100/PS (1).jpg" alt="#"></td>
    <td class="product-des" data-title="Description">
        <p class="product-name"><a href="#">Name Product</a></p>
        <p class="product-des">Here is going to be short description!</p>
    </td>
    <td class="price" data-title="Price"><span>$110.00 </span></td>
    <td>
        <div class="input-group" style="width: 30px;">
            <button class="btn btn-outline-secondary" type="button" id="decreaseButton">-</button>
            <input type="text" class="form-control text-center" id="quantity" value="1" readonly>
            <button class="btn btn-outline-secondary" type="button" id="increaseButton">+</button>
        </div>
    </td>
    <td class="total-amount" data-title="Total"><span>$220.88</span></td>
    <td class="action" data-title="Remove"><a href="#"><i class="ti-trash remove-icon"></i></a></td>
</tr>