
# Папки
bin/
obj/
packages/
.vs/
TestResults/

# Файлы
*.dll
*.exe
*.pdb
*.cache
*.log
*.user
*.suo
*.csproj.user
*.userosscache
*.userprefs
*.tlog
*.ide
*.sln.docstates

# Файлы конфигурации
appsettings.json
appsettings.Development.json
appsettings.Production.json

# Файлы, специфичные для Visual Studio
.vscode/
.vscode/*
