@{
    Layout = null;
}

@model WebProject.Core.DTO.FeedBack.Standart.MessageResponseDto

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Eshop</title>
    <link rel="icon" type="image/png" href="~/Asset/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Asset/css/bootstrap.css">
    <link rel="stylesheet" href="~/Asset/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/Asset/css/font-awesome.css">
    <link rel="stylesheet" href="~/Asset/css/themify-icons.css">
    <link rel="stylesheet" href="~/Asset/css/niceselect.css">
    <link rel="stylesheet" href="~/Asset/css/animate.css">
    <link rel="stylesheet" href="~/Asset/css/flex-slider.min.css">
    <link rel="stylesheet" href="~/Asset/css/owl-carousel.css">
    <link rel="stylesheet" href="~/Asset/css/slicknav.min.css">
    <link rel="stylesheet" href="~/Asset/css/animate.css">
    <link rel="stylesheet" href="~/Asset/css/reset.css">
    <link rel="stylesheet" href="~/Asset/style.css">
    <link rel="stylesheet" href="~/Asset/css/responsive.css">
    <link rel="stylesheet" href="~/Asset/css/color/color2.css">

    <link rel="stylesheet" href="#" id="colors">
</head>
<body class="js">
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <section class="error-page">
        <div class="table">
            <div class="table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3 col-12">
                            <div class="error-inner">
                                    <h2>@Model.Status.ToString()</h2>
                                    <h5>@Model.Message</h5>
                                    <p>Your track id is: @Model.IdTrack </p>
                                    <div class="button">
                                        <a href="@Url.Action("Index", "Home")" class="btn">Go Back</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Asset/js/jquery.min.js"></script>
    <script src="~/Asset/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/Asset/js/jquery-ui.min.js"></script>
    <script src="~/Asset/js/popper.min.js"></script>
    <script src="~/Asset/js/bootstrap.min.js"></script>
    <script src="~/Asset/js/colors.js"></script>
    <script src="~/Asset/js/slicknav.min.js"></script>
    <script src="~/Asset/js/owl-carousel.js"></script>
    <script src="~/Asset/js/magnific-popup.js"></script>
    <script src="~/Asset/js/facnybox.min.js"></script>
    <script src="~/Asset/js/waypoints.min.js"></script>
    <script src="~/Asset/js/finalcountdown.min.js"></script>
    <script src="~/Asset/js/nicesellect.js"></script>
    <script src="~/Asset/js/flex-slider.js"></script>
    <script src="~/Asset/js/scrollup.js"></script>
    <script src="~/Asset/js/onepage-nav.min.js"></script>
    <script src="~/Asset/js/easing.js"></script>
    <script src="~/Asset/js/active.js"></script>
</body>
</html>
