
@{
    ViewBag.Title = "Home";
}
<!doctype html>
<html lang="en">

<!--------------------------------------------------------------CONNECT REFERENCES-------------------------------------------------------------------------->
@Html.Partial("~/Views/Partials/Ref.cshtml")

<body>
    <div class="wrapper">
        <!--------------------------------------------------------------CONNECT HEADER-------------------------------------------------------------------------->
        @Html.Partial("~/Views/Partials/Header.cshtml")

        <!--------------------------------------------------------------MENU-------------------------------------------------------------------------->
        <main class="main">
            <!--CARUSEL-->
            <div id="carousel" class="carousel slide carousel-fade">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/img/1660809813_1-kartinkin-net-p-fon-dlya-igrovogo-kompyutera-krasivo-1.jpg"
                             class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h2></h2>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/laptops.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h2></h2>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/pnones.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h2></h2>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/tvvvs.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h2></h2>
                            <p></p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


            <!--OUR PRODUCTS-->
            <section class="featured-products">
                <div class="container-fluid">
                    <div class="row mb-5">
                        <div class="col-12">
                            <h2 class="section-title">
                                <span>Our products</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                            <div class="product-card">
                                <div class="product-thumb">
                                    <a href="product.html"><img src="assets/img/PCORDER.jpg" alt=""></a>
                                </div>
                                <div class="product-details">
                                    <h4>
                                        <a href="product.html">Ryzen 7 5600R + 32GB RAM</a>
                                    </h4>
                                    <p class="product-excerpt">Very fast PC</p>
                                    <div class="product-bottom-details d-flex justify-content-between">
                                        <div class="product-price">
                                            $900
                                        </div>
                                        <div class="product-links">
                                            <a href="product.html" class="btn btn-outline-secondary add-to-cart">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                            <div class="product-card">
                                <div class="product-thumb">
                                    <a href="product.html"><img src="assets/img/PCORDER.jpg" alt=""></a>
                                </div>
                                <div class="product-details">
                                    <h4>
                                        <a href="product.html">Ryzen 7 5600R + 32GB RAM</a>
                                    </h4>
                                    <p class="product-excerpt">Very fast PC</p>
                                    <div class="product-bottom-details d-flex justify-content-between">
                                        <div class="product-price">
                                            $900
                                        </div>
                                        <div class="product-links">
                                            <a href="product.html" class="btn btn-outline-secondary add-to-cart">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                            <div class="product-card">
                                <div class="product-thumb">
                                    <a href="product.html"><img src="assets/img/PCORDER.jpg" alt=""></a>
                                </div>
                                <div class="product-details">
                                    <h4>
                                        <a href="product.html">Ryzen 7 5600R + 32GB RAM</a>
                                    </h4>
                                    <p class="product-excerpt">Very fast PC</p>
                                    <div class="product-bottom-details d-flex justify-content-between">
                                        <div class="product-price">
                                            $900
                                        </div>
                                        <div class="product-links">
                                            <a href="product.html" class="btn btn-outline-secondary add-to-cart">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                            <div class="product-card">
                                <div class="product-thumb">
                                    <a href="product.html"><img src="assets/img/PCORDER.jpg" alt=""></a>
                                </div>
                                <div class="product-details">
                                    <h4>
                                        <a href="product.html">Ryzen 7 5600R + 32GB RAM</a>
                                    </h4>
                                    <p class="product-excerpt">Very fast PC</p>
                                    <div class="product-bottom-details d-flex justify-content-between">
                                        <div class="product-price">
                                            $900
                                        </div>
                                        <div class="product-links">
                                            <a href="product.html" class="btn btn-outline-secondary add-to-cart">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!--------------------------------------------------------------CONNECT FOOTER-------------------------------------------------------------------------->
        @Html.Partial("~/Views/Partials/Footer.cshtml")
    </div>

    <!--------------------------------------------------------------CONNECT SCROLL STUFF-------------------------------------------------------------------------->
    @Html.Partial("~/Views/Partials/Scroll.cshtml")
</body>

</html>