
@{
    ViewBag.Title = "ThanksForOrder";
}

<!doctype html>
<html lang="en">

<!--------------------------------------------------------------CONNECT REFERENCES-------------------------------------------------------------------------->
@Html.Partial("~/Views/Partials/Ref.cshtml")

<body>
    <div class="wrapper">
        <!--------------------------------------------------------------CONNECT HEADER-------------------------------------------------------------------------->
        @Html.Partial("~/Views/Partials/Header.cshtml")

        <!--------------------------------------------------------------BODY-------------------------------------------------------------------------->
        <main class="main">

            <!--------------------------------------------------------Thanks Page-------------------------------------------------------------->
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="jumbotron">
                            <h1 class="display-4">Thank You for Placing Your Order!</h1>
                            <p class="lead">We appreciate your choosing NINJA::SHOP services. Our team will be in touch with you shortly.</p>
                            <hr class="my-4">
                            <p>Best Regards,</p>
                            <p>NINJA::SHOP</p>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    setTimeout(function () {
                        window.location.href = "/Home/Index"; // Редирект на /home/index после 5 секунд
                    }, 30000); 
                });
            </script>

        </main>

        <!--------------------------------------------------------------CONNECT FOOTER-------------------------------------------------------------------------->
        @Html.Partial("~/Views/Partials/Footer.cshtml")
    </div>

    <!--------------------------------------------------------------CONNECT SCROLL STUFF-------------------------------------------------------------------------->
    @Html.Partial("~/Views/Partials/Scroll.cshtml")
</body>

</html>

