
@{
    Layout = null;
}

<tr>
    <td>@ViewBag.NameSurnameCustomer</td>
    <td>@ViewBag.EmailCustomer</td>
    <td>+@ViewBag.PhoneCustomer</td>
    <td>@ViewBag.ProductId</td>
    <td>@ViewBag.StatusDelivery</td>
    <td><button class="btn btn-danger">Save changes</button></td>
    <td><button class="btn btn-danger">Delete delivery</button></td>
</tr>
