@model WebProject.Core.DTO.User.EmailUserDto
    
<section class="shop-newsletter section">
    <div class="container">
        <div class="inner-top">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="inner">
                        <h4>Newsletter</h4>
                        <p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
                        @using (Html.BeginForm("GetDiscount", "Home", FormMethod.Post, new { @class = "newsletter-inner" }))
                        {
                            @Html.LabelFor(m => m.Email, "Email Address")
                            @Html.TextBoxFor(m => m.Email, null, new { @placeholder = "Your email address", @required = "required", @type = "email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            <button class="btn">Subscribe</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>