<tr>
    <td class="product-img-td"> <img src=@ViewBag.ProductPhoto alt=""></td>
    <td>@ViewBag.ProductName</td>
    <td>$@ViewBag.ProductPrice</td>
    <td>@ViewBag.Amount</td>
    <td><button class="btn btn-danger"><i class="fa-regular fa-circle-xmark"></i></button></td>
</tr>