<!-----------------------------------------------------Данные персонализации продукта---------------------------------------------------------->


<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
    <div class="product-card">
        <div class="product-thumb">
            <a href="@Url.Action("Item","Product")"><img src=@ViewBag.ProductsPhotoPath alt=""></a>
        </div>
        <div class="product-details">
            <h4>
                <a href="@Url.Action("Item","Product")">Iphone</a>
            </h4>
            <p class="product-excerpt">Good Iphone</p>
            <div class="product-bottom-details d-flex justify-content-between">
                <div class="product-price">
                    30$
                </div>
                <div class="product-links">
                    <a href="@Url.Action("Item","Product")" class="btn btn-outline-secondary add-to-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
