
@{
    Layout = null;
}

<tr>
    <td class="product-img-td"> <img src=@ViewBag.ProductPhoto alt=""></td>
    <td>@ViewBag.ProductName</td>
    <td>$@ViewBag.Price</td>
    <td>@ViewBag.Amount</td>
    <td><button class="btn btn-danger">Edit</button></td>
    <td><button class="btn btn-danger">Delete product</button></td>
</tr>

