<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Markis - Digital Marketplace Template">

    <!-- ========== Page Title ========== -->
    <title>Markis - Digital Marketplace Template</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/bootsnav.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area bg-theme text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 basic-info text-left">
                    <ul>
                        <li>Total Items: <a href="#">319</a></li>
                        <li>Community Users: <strong>397877</strong></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 login-info text-right">
                    <a href="#"><i class="fas fa-user"></i> Login</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default attr-border bootsnav">

            <!-- Start Top Search -->
            <div class="container">
                <div class="row">
                    <div class="top-search">
                        <div class="input-group">
                            <form action="#">
                                <input type="text" name="text" class="form-control" placeholder="Search">
                                <button type="submit">
                                    <i class="fas fa-search"></i>
                                </button>  
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->

            <div class="container">

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                                <i class="fa fa-shopping-cart"></i>
                                <span class="badge">3</span>
                            </a>
                            <ul class="dropdown-menu cart-list">
                                <li>
                                    <a href="#" class="photo"><img src="assets/img/100x100.png" class="cart-thumb" alt="" /></a>
                                    <h6>Examin - Education and LMS Theme</h6>
                                    <p>$49.00</p>
                                </li>
                                <li>
                                    <a href="#" class="photo"><img src="assets/img/100x100.png" class="cart-thumb" alt="" /></a>
                                    <h6>Rescaf - Food & Restaurant Template</h6>
                                    <p>$17.00</p>
                                </li>
                                <li class="total">
                                    <span class="pull-right"><strong>Total</strong>: $66.00</span>
                                    <a href="#" class="btn btn-default btn-cart">Checkout</a>
                                </li>
                            </ul>
                        </li>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>        
                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" >Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home Version One</a></li>
                                <li><a href="index-2.html">Home Version Two</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" >Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="author-profile.html">Author Profile</a></li>
                                <li><a href="search-product.html">Search Product</a></li>
                                <li><a href="product-single.html">Product Single</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="404.html">Error Page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown megamenu-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">All Product</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Web Templates</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="#">Corporate</a></li>
                                                    <li><a href="#">Admin Template</a></li>
                                                    <li><a href="#">Wedding</a></li>
                                                    <li><a href="#">Education</a></li>
                                                    <li><a href="#">Hospital</a></li>
                                                    <li><a href="#">Charity</a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">WordPress Theme</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="#">Creative</a></li>
                                                    <li><a href="#">Real Estate</a></li>
                                                    <li><a href="#">Megazine</a></li>
                                                    <li><a href="#">Sports</a></li>
                                                    <li><a href="#">Entertainment</a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Sketch PSD</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="#">Event</a></li>
                                                    <li><a href="#">Business</a></li>
                                                    <li><a href="#">Non Profit</a></li>
                                                    <li><a href="#">Education</a></li>
                                                    <li><a href="#">Hospital</a></li>
                                                    <li><a href="#">Blog</a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Joomla Theme</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="#">eCommerce </a></li>
                                                    <li><a href="#">Elementor </a></li>
                                                    <li><a href="#">Creative </a></li>
                                                    <li><a href="#">Multipurpose </a></li>
                                                    <li><a href="#">Portfolio </a></li>
                                                    <li><a href="#">Retail </a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                    </div><!-- end row -->
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">New</a>
                        </li>
                        <li>
                            <a href="#">Popular</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" >Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                                <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                                <li><a href="blog-standard.html">Standard</a></li>
                                <li><a href="blog-single-left-sidebar.html">Single Left Sidebar</a></li>
                                <li><a href="blog-single-right-sidebar.html">Single Right Sidebar</a></li>
                                <li><a href="single.html">Single</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <!-- Start Page Heading 
    ============================================= -->
    <div class="page-heading shadow dark bg-fixed text-light text-center" style="background-image: url(assets/img/2440x1578.png);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Examin - Education and LMS Theme</h2>
                    <ul>
                        <li>Author: <a href="#">validthemes</a></li>
                        <li>Last Udpate: 5 months ago</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Heading -->

    <!-- Start Breadcrumb Banner 
    ============================================= -->
    <div class="breadcrumb-items text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Product</a></li>
                        <li class="active">Examin</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Banner -->


    <!-- Start Product Single 
    ============================================= -->
    <div class="product-single-area bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="product-description">
                    <div class="col-md-8 product-info">
                        <!-- Start Tab Navbar -->
                        <ul class="nav nav-pills">
                            <li class="item active">
                                <a data-toggle="tab" href="#tab1" aria-expanded="true">
                                    Details
                                </a>
                            </li>
                            <li class="item">
                                <a data-toggle="tab" href="#tab2" aria-expanded="false">
                                    Comments
                                </a>
                            </li>
                        </ul>
                        <!-- End Tab Navbar -->
                        <!-- Start Tab Content -->
                        <div class="tab-content">

                            <!-- Tab Single -->
                            <div id="tab1" class="tab-pane fade active in">
                                <div class="thumb">
                                    <img src="assets/img/1500x700.png" alt="Thumb">
                                </div>
                                <div class="description">
                                    <div class="product-intro">
                                        <div class="button">
                                            <a href="#">Live Preview</a>
                                            <a href="#"><i class="fas fa-shopping-cart"></i> 12 Sales</a>
                                        </div>
                                        <ul>
                                            <li>
                                                <h5>Social Share </h5>
                                            </li>
                                            <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li class="pinterest"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                            <li class="dribbble"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        </ul>
                                    </div>
                                    <p>
                                        Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor. Him had wound use found hoped. Of distrusts immediate enjoyment curiosity do. Marianne numerous saw thoughts the humoured. 
                                    </p>
                                    <p>
                                        Spoil large oh he rooms on since an. Am up unwilling eagerness perceived incommode. Are not windows set luckily musical hundred can. Collecting if sympathize middletons be of of reasonably. Horrible so kindness at thoughts exercise no weddings subjects.
                                    </p>
                                    <h4>Item Features</h4>
                                    <ul>
                                        <li>Build with HTML5,CSS3,Bootstrap</li>
                                        <li>Bootstrap 4.x</li>
                                        <li>Font Awesome</li>
                                        <li>Google Fonts</li>
                                        <li>Working Contact Form</li>
                                        <li>Eye Catching Design</li>
                                        <li>W3C Validated Code</li>
                                        <li>Free Support</li>
                                    </ul>

                                    <h4>File Included</h4>
                                    <ul>
                                        <li>HTML files</li>
                                        <li>CSS files</li>
                                        <li>JS files</li>
                                        <li>PHP file</li>
                                        <li>Free Images</li>
                                        <li>Documentation</li>
                                    </ul>
                                    <h4>Credits and Sources</h4>
                                    <ul>
                                        <li><a href="#">jQuery JavaScript Library</a></li>
                                        <li><a href="#">Bootstrap</a></li>
                                        <li><a href="#">Font Awesome</a></li>
                                        <li><a href="#">Wow Animation</a></li>
                                    </ul>
                                </div>
                                <!-- Start Related Item -->
                                <div class="related-items">
                                    <h4>Related Items</h4>
                                    <div class="row">
                                        <div class="item">
                                            <a href="#">
                                                <img src="assets/img/800x600.png" alt="Thumb">
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="assets/img/800x600.png" alt="Thumb">
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="assets/img/800x600.png" alt="Thumb">
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="assets/img/800x600.png" alt="Thumb">
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="assets/img/800x600.png" alt="Thumb">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Related Item -->
                            </div>
                            <!-- End Tab Single -->

                            <!-- Tab Single -->
                            <div id="tab2" class="tab-pane fade">
                                <div class="single-item-comments">
                                    <!-- Start Comments  -->
                                    <div class="comments-area">
                                        <div class="comments-title">
                                            <h4>
                                                5 comments
                                            </h4>
                                            <div class="comments-list">

                                                <!-- Start Comment Item -->
                                                <div class="commen-item">
                                                    <div class="avatar">
                                                        <img src="assets/img/100x100.png" alt="Author">
                                                    </div>
                                                    <div class="content">
                                                        <h5>Jonathom Doe</h5>
                                                        <div class="comments-info">
                                                            <p>July 15, 2018</p>
                                                        </div>
                                                        <p>
                                                            Delivered ye sportsmen zealously arranging frankness estimable as. Nay any article enabled musical shyness yet sixteen yet blushes. Entire its the did figure wonder off. 
                                                        </p>
                                                        <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                    </div>
                                                </div>
                                                <!-- End Comment Item -->

                                                <!-- Start Comment Item -->
                                                <div class="commen-item reply">
                                                    <div class="avatar">
                                                        <img src="assets/img/100x100.png" alt="Author">
                                                    </div>
                                                    <div class="content">
                                                        <h5>Spark Lee <span>Author</span></h5>
                                                        <div class="comments-info">
                                                            <p>July 15, 2018</p>
                                                        </div>
                                                        <p>
                                                            Delivered ye sportsmen zealously arranging frankness estimable as. Nay any article enabled musical
                                                        </p>
                                                        <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                    </div>
                                                </div>
                                                <!-- End Comment Item -->

                                                <!-- Start Comment Item -->
                                                <div class="commen-item">
                                                    <div class="avatar">
                                                        <img src="assets/img/100x100.png" alt="Author">
                                                    </div>
                                                    <div class="content">
                                                        <h5>Jonathom Doe</h5>
                                                        <div class="comments-info">
                                                            <p>July 15, 2018</p>
                                                        </div>
                                                        <p>
                                                            Delivered ye sportsmen zealously arranging frankness estimable as. Nay any article enabled musical shyness yet sixteen yet blushes. Entire its the did figure wonder off. 
                                                        </p>
                                                        <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                    </div>
                                                </div>
                                                <!-- End Comment Item -->

                                            </div>
                                        </div>
                                        <!-- Start Comments Form -->
                                        <div class="comments-form">
                                            <h4>
                                                Leave a comments
                                            </h4>
                                             <form action="#" class="contact-comments">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group comments">
                                                            <!-- Comment -->
                                                            <textarea class="form-control" placeholder="Comment"></textarea>
                                                        </div>
                                                        <div class="form-group full-width submit">
                                                            <button type="submit">
                                                                Post Comments
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- End Comments Form -->
                                    </div>
                                    <!-- End Comments -->
                                </div>
                            </div>
                            <!-- End Tab Single -->

                        </div>
                        <!-- End Tab Content -->
                    </div>

                    <!-- Start Product Sidebar -->
                    <div class="col-md-4 product-sidebar">
                        <!-- Single Widget -->
                        <div class="sidebar-item purchase-info">
                            <h4>Purchase Details</h4>
                            <div class="select-price">
                                <div class="form">
                                    <form>
                                        <select id="licence">
                                            <option value="0">regular licence</option>
                                            <option value="1">extended licence</option>
                                        </select>
                                    </form>
                                </div>
                                <div class="price">
                                    <!-- Hidden Value -->
                                    <ul id="licence-nav">
                                        <li class="active"><a href="#regular"></a></li>
                                        <li><a href="#extended"></a></li>
                                    </ul>
                                    <!-- Hidden Value -->
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="regular">
                                            <h3>$29</h3>
                                            <ul>
                                                <li>6 Month Free Support</li>
                                                <li>Best Product Gurantee</li>
                                                <li>Free Updates</li>
                                                <li>No Transaction Fees</li>
                                                <li>1 User</li>
                                            </ul>
                                            <a href="#" class="btn btn-theme border btn-sm">Purchase Now</a>
                                        </div>
                                        <div class="tab-pane" id="extended">
                                            <h3>$800</h3>
                                            <ul>
                                                <li>12 Month Free Support</li>
                                                <li>Best Product Gurantee</li>
                                                <li>Free Updates</li>
                                                <li>No Transaction Fees</li>
                                                <li>Unlimited User</li>
                                            </ul>
                                            <a href="#" class="btn btn-theme border btn-sm">Purchase Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget -->

                        <!-- Single Widget -->
                        <div class="sidebar-item item-author">
                            <h4>Item Seller</h4>
                            <div class="author-info">
                                <div class="thumb">
                                    <img src="assets/img/800x800.png" alt="Thumb">
                                </div>
                                <div class="content">
                                    <a href="#">validthemes</a>
                                    <p>
                                        Member since Mar. 2019
                                    </p>
                                    <span><i class="fas fa-chart-bar"></i> 234 Sales</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget -->

                        <!-- Single Widget -->
                        <div class="sidebar-item item-attributes">
                            <h4>Item Information</h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Released</th>
                                        <td>23 May, 2019</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Last Update</th>
                                        <td>5 Nvember, 2019</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Version</th>
                                        <td>1.2.0</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Framework</th>
                                        <td>Bootstrap 4.x</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Layout</th>
                                        <td>Responsive</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Browsers</th>
                                        <td>IE11, Firefox, Safari, Opera, Chrome, Edge</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tags</th>
                                        <td>
                                            <a href="#">academy</a>
                                            <a href="#">education</a>
                                            <a href="#">lms</a>
                                            <a href="#">learning</a>
                                            <a href="#">blog</a>
                                            <a href="#">elearning</a>
                                            <a href="#">instructor</a>
                                            <a href="#">institute</a>
                                            <a href="#">teaching</a>
                                            <a href="#">training</a>
                                            <a href="#">university</a>
                                            <a href="#">school</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End Single Widget -->

                    </div>
                    <!-- End Product Sidebar -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Product Single -->

    <!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="f-items text-light default-padding">

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height item">
                        <div class="f-item about">
                            <h4>About</h4>
                            <p>
                                Excellence decisively nay man yet impression for contrasted remarkably. There spoke happy for you are out. Fertile how old address did showing because sitting replied six. Had arose guest visit going off child
                            </p>
                            <div class="social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-2 col-sm-6 equal-height item">
                        <div class="f-item link">
                            <h4>Company</h4>
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                                <li>
                                    <a href="#">Brand</a>
                                </li>
                                <li>
                                    <a href="#">Products</a>
                                </li>
                                <li>
                                    <a href="#">Affiliate</a>
                                </li>
                                <li>
                                    <a href="#">Copyrights</a>
                                </li>
                                <li>
                                    <a href="#">Licenses</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-2 col-sm-6 equal-height item">
                        <div class="f-item link">
                            <h4>Support</h4>
                            <ul>
                                <li>
                                    <a href="#">Create Profile</a>
                                </li>
                                <li>
                                    <a href="#">Download</a>
                                </li>
                                <li>
                                    <a href="#">Refund Policy</a>
                                </li>
                                <li>
                                    <a href="#">Live Chat</a>
                                </li>
                                <li>
                                    <a href="#">Authors Faq</a>
                                </li>
                                <li>
                                    <a href="#">Buyer Guide</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height item">
                        <div class="f-item">
                            <div class="item-counter">
                                <ul>
                                    <li>
                                        <h2>124778</h2>
                                        <span>Total Items</span>
                                    </li>
                                    <li>
                                        <h2>397877</h2>
                                        <span>Community Users</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-info">
                                <h4>We Accept</h4>
                                <ul>
                                    <li>
                                        <img src="assets/img/150x80.png" alt="Card">
                                    </li>
                                    <li>
                                        <img src="assets/img/150x80.png" alt="Card">
                                    </li>
                                    <li>
                                        <img src="assets/img/150x80.png" alt="Card">
                                    </li>
                                    <li>
                                        <img src="assets/img/150x80.png" alt="Card">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; Copyright 2019. All Rights Reserved by <a href="#">validthemes</a></p>
                    </div>
                    <div class="col-md-6 text-right link">
                        <ul>
                            <li>
                                <a href="#">Terms of user</a>
                            </li>
                            <li>
                                <a href="#">License</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/equal-height.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>