<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Markis - Digital Marketplace Template">

    <!-- ========== Page Title ========== -->
    <title>Markis - Digital Marketplace Template</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/bootsnav.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area bg-theme text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 basic-info text-left">
                    <ul>
                        <li>Total Items: <a href="#">319</a></li>
                        <li>Community Users: <strong>397877</strong></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 login-info text-right">
                    <a href="#"><i class="fas fa-user"></i> Login</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default attr-border bootsnav">

            <!-- Start Top Search -->
            <div class="container">
                <div class="row">
                    <div class="top-search">
                        <div class="input-group">
                            <form action="#">
                                <input type="text" name="text" class="form-control" placeholder="Search">
                                <button type="submit">
                                    <i class="fas fa-search"></i>
                                </button>  
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->

            <div class="container">

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                                <i class="fa fa-shopping-cart"></i>
                                <span class="badge">3</span>
                            </a>
                            <ul class="dropdown-menu cart-list">
                                <li>
                                    <a href="#" class="photo"><img src="assets/img/100x100.png" class="cart-thumb" alt="" /></a>
                                    <h6>Examin - Education and LMS Theme</h6>
                                    <p>$49.00</p>
                                </li>
                                <li>
                                    <a href="#" class="photo"><img src="assets/img/100x100.png" class="cart-thumb" alt="" /></a>
                                    <h6>Rescaf - Food & Restaurant Template</h6>
                                    <p>$17.00</p>
                                </li>
                                <li class="total">
                                    <span class="pull-right"><strong>Total</strong>: $66.00</span>
                                    <a href="#" class="btn btn-default btn-cart">Checkout</a>
                                </li>
                            </ul>
                        </li>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>        
                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" >Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home Version One</a></li>
                                <li><a href="index-2.html">Home Version Two</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" >Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="author-profile.html">Author Profile</a></li>
                                <li><a href="search-product.html">Search Product</a></li>
                                <li><a href="product-single.html">Product Single</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="404.html">Error Page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown megamenu-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">All Product</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Web Templates</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="#">Corporate</a></li>
                                                    <li><a href="#">Admin Template</a></li>
                                                    <li><a href="#">Wedding</a></li>
                                                    <li><a href="#">Education</a></li>
                                                    <li><a href="#">Hospital</a></li>
                                                    <li><a href="#">Charity</a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">WordPress Theme</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="#">Creative</a></li>
                                                    <li><a href="#">Real Estate</a></li>
                                                    <li><a href="#">Megazine</a></li>
                                                    <li><a href="#">Sports</a></li>
                                                    <li><a href="#">Entertainment</a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Sketch PSD</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="#">Event</a></li>
                                                    <li><a href="#">Business</a></li>
                                                    <li><a href="#">Non Profit</a></li>
                                                    <li><a href="#">Education</a></li>
                                                    <li><a href="#">Hospital</a></li>
                                                    <li><a href="#">Blog</a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Joomla Theme</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="#">eCommerce </a></li>
                                                    <li><a href="#">Elementor </a></li>
                                                    <li><a href="#">Creative </a></li>
                                                    <li><a href="#">Multipurpose </a></li>
                                                    <li><a href="#">Portfolio </a></li>
                                                    <li><a href="#">Retail </a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                    </div><!-- end row -->
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">New</a>
                        </li>
                        <li>
                            <a href="#">Popular</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" >Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                                <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                                <li><a href="blog-standard.html">Standard</a></li>
                                <li><a href="blog-single-left-sidebar.html">Single Left Sidebar</a></li>
                                <li><a href="blog-single-right-sidebar.html">Single Right Sidebar</a></li>
                                <li><a href="single.html">Single</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <!-- Start Page Heading 
    ============================================= -->
    <div class="page-heading shadow dark bg-fixed text-light text-center" style="background-image: url(assets/img/2440x1578.png);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Search Reuslt For 'Example'</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Heading -->

    <!-- Start Breadcrumb Banner 
    ============================================= -->
    <div class="breadcrumb-items text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Search</a></li>
                        <li class="active">Example</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Banner -->

    <!-- Start Product Search
    ============================================= -->
    <div class="product-single-area trend-product-area bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="search-product-lists trend-items">
                    <!-- Single Item -->
                    <div class="col-md-4 equal-height">
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="assets/img/800x800.png" alt="Thumb"></a>
                                <div class="overlay">
                                    <a href="#">Add Cart</a>
                                    <a href="#">Details</a>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="top-info">
                                    <h4>
                                        <a href="#">Boxass - Startup Landing Page Theme</a>
                                    </h4>
                                    <div class="author">
                                        by <a href="#">Author</a> in
                                        <span><a href="#">Startup</a> / <a href="#">Landing</a></span>
                                    </div>
                                    <div class="item-type">
                                        <p><i class="fas fa-chart-bar"></i> 13 Sales</p>
                                        <div class="rating">
                                            <div class="four-out-of-five">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-info">
                                    <div class="item-preview">
                                        <a href="#">Preview</a>
                                    </div>
                                    <div class="price">
                                        <h4>$59.00</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 equal-height">
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="assets/img/800x800.png" alt="Thumb"></a>
                                <div class="overlay">
                                    <a href="#">Add Cart</a>
                                    <a href="#">Details</a>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="top-info">
                                    <h4>
                                        <a href="#">Rescaf - Food & Restaurant Template</a>
                                    </h4>
                                    <div class="author">
                                        by <a href="#">Author</a> in
                                        <span><a href="#">Restaurant</a></span>
                                    </div>
                                    <div class="item-type">
                                        <a href="#"><i class="fab fa-html5"></i> HTML5</a>
                                        <div class="rating">
                                            <div class="no-rating">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-info">
                                    <div class="item-preview">
                                        <a href="#">Preview</a>
                                    </div>
                                    <div class="price">
                                        <h4>$17.00</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 equal-height">
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="assets/img/800x800.png" alt="Thumb"></a>
                                <div class="overlay">
                                    <a href="#">Add Cart</a>
                                    <a href="#">Details</a>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="top-info">
                                    <h4>
                                        <a href="#">MediHub - Medical & Health Template</a>
                                    </h4>
                                    <div class="author">
                                        by <a href="#">Author</a> in
                                        <span><a href="#">Health</a> / <a href="#">Medical</a></span>
                                    </div>
                                    <div class="item-type">
                                        <a href="#"><i class="fas fa-images"></i> PSD</a>
                                        <div class="rating">
                                            <div class="four-out-of-five">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-info">
                                    <div class="item-preview">
                                        <a href="#">Preview</a>
                                    </div>
                                    <div class="price">
                                        <h4>$14.00</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 equal-height">
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="assets/img/800x800.png" alt="Thumb"></a>
                                <div class="overlay">
                                    <a href="#">Add Cart</a>
                                    <a href="#">Details</a>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="top-info">
                                    <h4>
                                        <a href="#">Webfix - Creative Multipurpose Theme</a>
                                    </h4>
                                    <div class="author">
                                        by <a href="#">Author</a> in
                                        <span><a href="#">Creative</a></span>
                                    </div>
                                    <div class="item-type">
                                        <a href="#"><i class="fab fa-wordpress"></i> WordPress</a>
                                        <div class="rating">
                                            <div class="three-out-of-five">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-info">
                                    <div class="item-preview">
                                        <a href="#">Preview</a>
                                    </div>
                                    <div class="price">
                                        <h4>$42.00</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 equal-height">
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="assets/img/800x800.png" alt="Thumb"></a>
                                <div class="overlay">
                                    <a href="#">Add Cart</a>
                                    <a href="#">Details</a>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="top-info">
                                    <h4>
                                        <a href="#">Dostart - Startup Agency & Landing Page</a>
                                    </h4>
                                    <div class="author">
                                        by <a href="#">Author</a> in
                                        <span><a href="#">Startup</a> / <a href="#">Landing</a></span>
                                    </div>
                                    <div class="item-type">
                                        <a href="#"><i class="fab fa-html5"></i> HTML5</a>
                                        <div class="rating">
                                            <div class="five-out-of-five">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-info">
                                    <div class="item-preview">
                                        <a href="#">Preview</a>
                                    </div>
                                    <div class="price">
                                        <h4>$17.00</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 equal-height">
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="assets/img/800x800.png" alt="Thumb"></a>
                                <div class="overlay">
                                    <a href="#">Add Cart</a>
                                    <a href="#">Details</a>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="top-info">
                                    <h4>
                                        <a href="#">Examin - Education and LMS Theme</a>
                                    </h4>
                                    <div class="author">
                                        by <a href="#">Author</a> in
                                        <span><a href="#">LMS</a> / <a href="#">Education</a></span>
                                    </div>
                                    <div class="item-type">
                                        <a href="#"><i class="fab fa-wordpress"></i> WordPress</a>
                                        <div class="rating">
                                            <div class="no-rating">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-info">
                                    <div class="item-preview">
                                        <a href="#">Preview</a>
                                    </div>
                                    <div class="price">
                                        <h4>$64.00</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Pagination -->
                    <div class="col-md-12 pagi-area">
                        <nav aria-label="navigation">
                            <ul class="pagination">
                                <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End Pagination -->

                </div>
            </div>
        </div>
    </div>
    <!-- End Product Search -->

    <!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="f-items text-light default-padding">

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height item">
                        <div class="f-item about">
                            <h4>About</h4>
                            <p>
                                Excellence decisively nay man yet impression for contrasted remarkably. There spoke happy for you are out. Fertile how old address did showing because sitting replied six. Had arose guest visit going off child
                            </p>
                            <div class="social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-2 col-sm-6 equal-height item">
                        <div class="f-item link">
                            <h4>Company</h4>
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                                <li>
                                    <a href="#">Brand</a>
                                </li>
                                <li>
                                    <a href="#">Products</a>
                                </li>
                                <li>
                                    <a href="#">Affiliate</a>
                                </li>
                                <li>
                                    <a href="#">Copyrights</a>
                                </li>
                                <li>
                                    <a href="#">Licenses</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-2 col-sm-6 equal-height item">
                        <div class="f-item link">
                            <h4>Support</h4>
                            <ul>
                                <li>
                                    <a href="#">Create Profile</a>
                                </li>
                                <li>
                                    <a href="#">Download</a>
                                </li>
                                <li>
                                    <a href="#">Refund Policy</a>
                                </li>
                                <li>
                                    <a href="#">Live Chat</a>
                                </li>
                                <li>
                                    <a href="#">Authors Faq</a>
                                </li>
                                <li>
                                    <a href="#">Buyer Guide</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height item">
                        <div class="f-item">
                            <div class="item-counter">
                                <ul>
                                    <li>
                                        <h2>124778</h2>
                                        <span>Total Items</span>
                                    </li>
                                    <li>
                                        <h2>397877</h2>
                                        <span>Community Users</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-info">
                                <h4>We Accept</h4>
                                <ul>
                                    <li>
                                        <img src="assets/img/150x80.png" alt="Card">
                                    </li>
                                    <li>
                                        <img src="assets/img/150x80.png" alt="Card">
                                    </li>
                                    <li>
                                        <img src="assets/img/150x80.png" alt="Card">
                                    </li>
                                    <li>
                                        <img src="assets/img/150x80.png" alt="Card">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; Copyright 2019. All Rights Reserved by <a href="#">validthemes</a></p>
                    </div>
                    <div class="col-md-6 text-right link">
                        <ul>
                            <li>
                                <a href="#">Terms of user</a>
                            </li>
                            <li>
                                <a href="#">License</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/equal-height.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>