@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="@Url.Action("Index","Home")">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="@Url.Action("AboutUs","Home")">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="about-content">
                    <h3>Welcome To <span>Eshop</span></h3>
                    <p>Our electronics store offers a wide range of the latest and highest quality products to meet the needs of every customer. We take pride in presenting only the leading global brands and providing top-notch service.</p>
                    <p>Here, you will find everything you need for your home and office: from household appliances to professional devices. Our consultants are always ready to help you choose and answer all your questions. We offer competitive prices and a flexible discount system to make your shopping experience even more enjoyable.</p>
                    <p>Our electronics store is your reliable partner in the world of modern technology. We value each customer and strive to make your shopping experience unforgettable. Join us and discover the world of convenient and quality shopping!</p>
                    <div class="button">
                        <a href="@Url.Action("Index","News")" class="btn">Our Blog</a>
                        <a href="@Url.Action("ContactUs","Home")" class="btn primary">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                    <img src="~/Asset/images/banner.png" width="775" height="550" alt="">
            </div>
        </div>
    </div>
</section>
